---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Brian <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            This a portfolio of content I've created for ENGL 2210. I'm an
            undergraduate computer science student at the University of New
            Mexico, a rock climber, a rope access technician, and I have way too
            many books! I studied mathematics and computer programming in my
            free time before deciding to pursue a degree to deepen my
            theoretical understanding and pursue a career in the field. The Fall
            2025 semester has taught me a lot, from numerical integration to
            network optimization and creating a <a
              href="./blog/proposal-and-presentation">business proposal</a
            >. It's been a busy semester, but one of the lessons school provides
            is how to keep rolling even when things get rough.
          </p>
          <p class="animate">
            I particularly enjoyed creating a proposal and presentation for my
            technical writing course. I decided to create a <a
              href="./blog/proposal-and-presentation">proposal</a
            > for investing in a fitness app, a project I've been working on in my
            free time for five years. The proposal forced me to consider the merits
            of the project from an investor's perspective and re-frame the value
            of the app in those terms. During the draft process, I got valuable feedback
            on potential problems in the app itself as well as the business pitch.
            One of my peers noted that one of my objectives, conducting user research,
            was not very specific about what kind of users I wanted to target. This
            is a really valid point and forced me to think about what the apps "ideal
            user" would be. Making discrete decisions like that is an important step
            in the process of developing an idea and I'm grateful for the feedback.
          </p>
          <p class="animate">
            When I enrolled in my technical writing course, I didn't expect to
            be creating multimedia content, but this has been a great learning
            opportunity. Stepping onto the other side of the camera taught me
            how challenging and time-consuming it is to create high-quality
            video content, necessitating careful plan, cool composure, and a
            fluid command of language. I found that in some cases I could
            surprise myself by speaking in a clear and careful way, but also
            that it's easy to trip-up, and planning is really the antidote to
            fumbling. I tried using a script but found that for me, the most
            effective method was to outline the points I want to cover in bullet
            points, and use that outline to guide a natural explanation of the
            topics. I also learned that editing is extremely valuable, but
            costly - it takes a lot of time and care to edit audio and video
            into a cohesive package.
          </p>
          <p class="animate">
            The prevalence of content like <a
              href="./blog/proposal-and-presentation">presentations</a
            >, <a href="./blog/formal-response-letter">letters</a>, <a
              href="./blog/proposal-and-presentation">proposals</a
            >, and <a href="./blog/instructional-video">instructional videos</a>
            is a good indicator that to succeed in 2025 and beyond, I need to practice
            writing more than just essays. I believe the projects I created in this
            class provided a valuable opportunity to expand my skills and experience
            into these increasingly important media. As a software engineer, I often
            get an introduction to a new technology or idea through a video. Companies
            large and small use video to present new ideas and provide instruction,
            and being able to create this kind of content is a critical component
            of a successful career. I hope this is just the beginning and I look
            forward to using all the media available to have an impact on the world.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section> -->
    </div>
  </Container>
</PageLayout>
